.kichwa {
    align-items: left;
    position: relative;
    text-align: left;
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    color: rgba(255, 255, 255, 0.87);
  
  }
  .kejani {
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  